<h1>vCard Network example</h1>

<p>This is an example page to showcase the usage of a vCard network. See
https://codeberg.org/nfraprado/vcard-network for more information.</p>

<p><a href=https://codeberg.org/nfraprado/vcf-test>Page Source</a></p>

<h2>Profile</h2>

<img src=https://nfraprado.codeberg.page/vcf-test/photo.png>

<ul>
	<li><b>Name:</b> Test Fake</li>
	<li><b>Nickname:</b> test</li>
	<li><b>Organization:</b> Ficticious Company</li>
	<li><b>Address:</b> Atlantis</li>
</ul>

<p><a href=https://nfraprado.codeberg.page/vcf-test/vcard.vcf>vCard</a></p>

<p><a href=https://codeberg.org/nfraprado/vcf-test/src/branch/pages/vcard.vcf>vCard source</a></p>

<h2>People I follow</h2>

<ul>

<li><b><a href=https://nfraprado.net>Nícolas F. R. A. Prado</a></b>: <a href=https://nfraprado.net/profile.vcf>vCard</a></li>

</ul>
